SVRS_PFX_PATH=/app/config/certificado.pfx
SVRS_PFX_PASSWORD=troque_aqui
SVRS_CA_BUNDLE=/app/certs/svrs-chain.pem
API_KEY=troque_por_uma_chave_longa_e_forte
API_KEY_HEADER_NAME=X-API-Key
APP_ENV=production
SHOW_DOCS=true
ENABLE_DEBUG_ENDPOINTS=false
LOG_LEVEL=INFO
